{{ define "main" }}
<div class="row" style="margin-top: 5%">
    <!-- <div class="twelve column"> -->
    <div>
        <h1>{{.Title}}</h1>
        <p>{{.Content}}</p>
    </div>
    <br>
    <div class="masonry">
        {{ range $.Site.Data.prints }}
            <div class="item">
                <a href="{{ .shop }}">
                <img loading="lazy" src="{{ .src }}?nf_resize=fit&w=300">
                </a>
                <div class="top-left">{{ .name }}</div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}