<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>© {{ now.Year }} tsjb.photo</p>
            <ul class="footer-links">
                <li class="footer-link"><a href="https://www.instagram.com/tsjb.photo/" style="text-decoration: none;"><img height='19' style='border:0px;height:19px;' src='/assets/instagram-logo.png' border='0' alt='Follow me on Instagram' /></a></li>
                <li class="footer-link"><a href="https://www.twitter.com/tsjbphoto/" style="text-decoration: none;"><img height='19' style='border:0px;height:19px;' src='/assets/2021-Twitter-logo-blue.png' border='0' alt='Follow me on Twitter' /></a></li>
                <li class="footer-link"><a href='https://ko-fi.com/W7W839H0G' target='_blank'><img height='21' style='border:0px;height:21px;' src='https://cdn.ko-fi.com/cdn/kofi3.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></li>
              </ul>
        </div>
    </div>
</footer>