<header class="top-nav">
    <a class="home-button" href="/"><img src="/assets/logo.png" alt="logo" class="header-image"/></a>
    <nav class="nav-main">
        <a class="home-list" href="/">tsjb.photo</a>
        <ul class="nav-list">
            <!-- <li style="margin-left: 0"><a class="link" href="/">Home</a></li> -->
            <!-- <li><a class="link" href="https://www.instagram.com/tsjb.photo/">Instagram</a></li> -->
            <li><a class="link" href="/prints/">Prints</a></li>
            <li><a class="link" href="/gear/">Gear</a></li>
            <li><a class="link" href="/blogs/">Blog</a></li>
            <li><a class="link" href="/about/">About</a></li>
        </ul>
    </nav>
  </header> 