<header class="top-nav">
    <a class="home-logo" href="/"><img src="/assets/logo.png" alt="logo" class="header-image"/></a>
    <nav class="nav-main">
        <ul class="nav-list home-list">
            <li><a class="link" href="/">tsjb.photo</a></li>
            <li><a class="link social-link" href="https://www.instagram.com/tsjb.photo/"><img height='12' style='border:0px;height:12px;' src='/assets/instagram-glyph.png' alt='Follow me on Instagram' /></a></li>
            <li><a class="link social-link" href="https://www.twitter.com/tsjbphoto/"><img height='12' style='border:0px;height:12px;' src='/assets/2021-Twitter-logo-black.png' alt='Follow me on Twitter' /></a></li>
            <li><a class="link social-link"href="https://ko-fi.com/tsjbphoto"><img class="ko-fi" height='12' style='border:0px;height12px;' src='/assets/Ko-fi_Icon_RGB_stroke.png' alt='Support me on Ko-fi' /></a></li>
        </ul>
        <ul class="nav-list">
            <!-- <li style="margin-left: 0"><a class="link" href="/">Home</a></li> -->
            <li><a class="link" href="/prints/">Prints</a></li>
            <li><a class="link" href="/gear/">Gear</a></li>
            <li><a class="link" href="/blogs/">Blog</a></li>
            <li><a class="link" href="/about/">About</a></li>
        </ul>
    </nav>
  </header> 